<!DOCTYPE html>
<html lang="en">
<head>
<title>Sid's TDI Milestone Project </title>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



   <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-x.y.z.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-x.y.z.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-x.y.z.min.js"
        crossorigin="anonymous"></script>





</head>

<body>



<div style="padding-left:16px">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--  <a class="navbar-brand" href="#">Navbar w/ text</a>
---->
	<a class="navbar-brand" <h3>Sid's 1st App<h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>

    </ul>


  </div>
</nav>


<h3>Stock Trends for: Enter a  ticker (e.g., AAPL). {{stock}} </h3>


 
    <form method="POST" action"/">
        <div class="form-group">
           <input type=""text" name="stock" required value="AAPL"><br>
			<br>
			<br>
 

        <label>
            <h5>  <input type="radio" name="price" value="op" checked><b>Opening price</h5></b></label>
            </label>
            <br>

            <label>
             <h5> <input type="radio" name="price" value="aop"<b>Adjusted Opening price</b></label></h5>
            </label>
            <br>

            <label>
            <h5>  <input type="radio" name="price" value="cp"<b>Closing price</b></label></h5>
            </label>
            <br>

             <label>
             <h5> <input type="radio" name="price" value="acp"<b>Adjusted Closing price</b></label></h5>
            </label>

            <br>
            <label>
            <h5>  <input type="radio" name="price" value="ap"<b>All of the above</b></label></h5>
            </label>
            <br>
			
   <input class="btn btn-primary" type="submit" value="submit">

</form>
     </div>




</div>
    </div>
    </div>
 </div>
    </div>
</body>
</html>
